apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-webapi
  namespace: myapp
  labels:
    app: myapp-webapi
    component: backend
    environment: dev
    version: "1.0"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp-webapi
  template:
    metadata:
      labels:
        app: myapp-webapi
        component: backend
        environment: dev
        version: "1.0"
    spec:
      containers:
        - name: webapi
          image: <docker-hub-account>/myapp-webapi:1.0
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Development"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"