apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-webapp
  namespace: webinar4
  labels:
    app: myapp-webapp
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp-webapp
  template:
    metadata:
      labels:
        app: myapp-webapp
        tier: frontend
    spec:
      containers:
      - name: webapp
        image: tallesvaliatti/myapp-webapp:1.0
        ports:
        - containerPort: 8080
          name: http
        env:
        - name: ApiSettings__WebApiUrl
          value: "http://myapp-webapi-service.webinar4.svc.cluster.local"
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5

