apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-web
  namespace: webinar4
  labels:
    app: myapp-web
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp-web
  template:
    metadata:
      labels:
        app: myapp-web
        tier: frontend
    spec:
      containers:
      - name: web
        image: <docker-hub-account>/myapp-web:1.0
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            memory: "32Mi"
            cpu: "25m"
          limits:
            memory: "64Mi"
            cpu: "50m"
